/* CSS HEX 
--white-smoke: #F5F5F5ff;
--celestial-blue: #2C9CE5ff;
--black: #000000ff;
--space-cadet: #2B3043ff;
--white: #FFFFFFff;
 #222838ff;
*/
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid white; */
}

body {
  font-family: "Arial", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.side-bar {
  background-color: #2b3043ff;
  height: 100vh;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-top: 5px;
  text-align: center;
}
.side-bar .logo img {
  padding: 5px;

  max-height: 100px;
  object-fit: contain;
}

.nav-menu {
  margin-top: 20px;
}

.nav-menu .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu .menu li {
  margin: 5px;
  padding: 5px;
  width: 90%;
  border-radius: 10px;
}

.nav-menu .menu li a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #dac7c7;
  text-decoration: none;
}

.nav-menu .menu li a .fas {
  margin-right: 20px;
}

.nav-menu .menu li.active,
.nav-menu .menu li:hover {
  background-color: #262935;
  color: white;
  border-radius: 10px;
}

.main-content {
  width: 100%;
  flex-grow: 1;
}

.main-content .navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  width: 100%;
  flex-grow: 1;
}
.navbar-header .nav-logo {
  font-size: 24px;
  font-weight: 400;
}
.navbar-header .nav-logo i {
  margin-right: 20px;
}

.nav-search .btn {
  background: rgb(185, 100, 114);
  color: white;
}
.nav-search input {
  padding-left: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid rgba(185, 100, 114, 0.5);
  width: 100%;
}
.nav-search input:focus {
  border: 2px solid rgb(185, 100, 114);
  outline: none;
  box-shadow: 0 0 8px rgba(185, 100, 114, 0.5);
}

#email-dropdownMenuLink {
  background-color: #f8f9fa;
  color: #333;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}
#email-dropdownMenuLink:hover,
#email-dropdownMenuLink:focus {
  background-color: #e2e6ea;
  color: #000;
  box-shadow: 0 0 5px rgba(185, 100, 114, 0.5);
  border: none;
}
.email-dropdown-menu {
  min-width: 200px; /* Set minimum width */
}
